:root{
    --globalorange: rgb(255, 166, 0);
    --globalgray: rgb(205, 202, 202);
    --globalwhite:#efefef;
    --darkgray:rgb(102, 101, 101);
    --darkorange:rgb(118, 80, 9);


}
@font-face {
    font-family: openSans;
    src:
        /* Internet Explorer */
        url('./assets/Fonds/static/OpenSans-Regular.ttf') format('embedded-opentype'),
        /* Super Modern Browsers */
        url('./assets/Fonds/static/OpenSans-Regular.ttf') format('woff2'),
        /* Pretty Modern Browsers */
        url('./assets/Fonds/static/OpenSans-Regular.ttf') format('woff'),
        /* Safari, Android, iOS */
        url('./assets/Fonds/static/OpenSans-Regular.ttf') format('truetype'),
        /* Legacy iOS */
        url('./assets/Fonds/static/OpenSans-Regular.ttf') format('svg');
}

*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
    font-family: openSans;
}

.externaldistance{
    padding-right: 120px;
    padding-left: 120px;
}
