
/* nav and header */
nav{
    background-color: var(--globalorange);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainlogo{
    width: 100px;
    height: 50px;
}

/* main */
.page_content{
    display: flex;
}
.aot_and_main_courses{
    width: calc(100%-300px);
}
main{
    background-color: var(--globalgray) ;
}
.aot{
    background-image:url(./assets/imiges/header_foto.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.noodle_bowl{
    display: flex;
    justify-content: center;
    margin-top: -80px;
}
.noodle_bowl img{
     height: 200px;
     background-color: var(--globalwhite);
     padding: 10px;
     border-radius: 50%;
}
.all_main_courses h1{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
.maincours_element{
    border: 2px solid var(--globalwhite);
    border-radius: 15px 0px 0px 15px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--globalwhite);
    background-color: var(--darkorange);
}
.maincours_img_container img{
    height: 200px;
    width: 700px;
    object-fit: cover;
}

.maincours_img_container{
    height: 200px;
}


/* shopping cart */
.all_shopping_cart{
    background-color: var(--globalwhite);
    width: 300px;
    flex-grow: 1;
}

.shopping_cart_content{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.shopping_cart_content h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.shopping_cart{
    text-align: center;
}
.shopping_cart h3{
     padding-top: 10px;
     padding-bottom: 10px;
}
.shopping_cart_amaount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
   
}

.order_buttons img{
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.order_buttons{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer_cart{
    text-align: center;
    margin-top: 20px;
}

/* footer */
footer{
    height: 50px;
    background-color: var(--darkgray);
}