/* nav and header */
header {
    background-color: var(--globalorange);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    display: none;
}

.mainlogo {
    width: 100px;
    height: 50px;
}

/* main */
.page_content {
    display: flex;
    width: 100%;
}
main {
    background-color: var(--globalgray);
    min-height: calc(100vh - 100px);
}

.aot {
    background-image: url(./assets/imiges/header_foto.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.noodle_bowl {
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

.noodle_bowl img {
    height: 200px;
    background-color: var(--globalwhite);
    padding: 10px;
    border-radius: 50%;
}

.Pure_Table{
    margin-top: -100px;
    margin-bottom: 100px;
}

.nav_msc{
    width:100%;
    background-color: var(--darkgray);
}

.all_main_courses h2 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

.maincours_element {
    border: 2px solid var(--globalwhite);
    border-radius: 15px 0px 0px 15px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--globalwhite);
    background-color: var(--darkorange);
}

.maincours_img_container img {
    height: 200px;
    width: 700px;
    object-fit: cover;
}

.maincours_img_container {
    height: 200px;
}


/* shopping cart */
.all_shopping_cart {
    background-color: var(--globalwhite);
    width: 300px;
    max-width: 1000px;
    flex-grow: 1;
}

.headline_border {
    border-bottom: 2px solid var(--globalgray);
    width: 300px;
    margin-bottom: 10px;
}

.full_price {
    border-top: 2px solid var(--globalgray);
}

.shopping_cart_content {
    position: sticky;
    top: 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping_cart_content h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.shopping_cart {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping_cart h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.shopping_cart_amaount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

}

.delete_dish:hover{
    cursor: pointer;
}

.order_buttons img {
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.order_buttons {
    display: flex;
    justify-content: space-between;
}

.footer_cart {
    text-align: center;
    margin-top: 20px;
}

.full_price h3 {
    margin-top: 20px;
}

dialog {
    width: 100%;
    height: 100vh;
}

.closedialog {
    background-color: var(--globalorange);
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.closedialog:hover {
    cursor: pointer;
}

/* footer */
footer {
    height: 50px;
    background-color: var(--darkgray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--globalwhite);
}

footer a {
    text-decoration: none;
    color: var(--globalwhite);
}

footer a:hover {
    text-decoration: underline;
}

/* Mobile View */
@media(max-width:1400px) {

    .all_shopping_cart {
        width: 200px;
    }

    .shopping_cart_amaount {
        width: 150px;

    }

    .footer_cart {
        width: 200px;
    }

    .order_buttons {
        width: 200px;
    }

    .order_buttons img {
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .headline_border {
        width: 200px;
    }

}

@media (max-width: 1300px) {
    .all_shopping_cart {
        display: none;
    }

    nav img {
        display: unset;
    }

    .aot_and_main_courses {
        width: 100%;
    }
}

@media (max-width: 1160px) {
    .maincours_img_container img {
        width: 500px;
    }
}

@media (max-width: 940px) {

    .all_main_courses {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .maincours_element {
        flex-direction: column;
        align-items: unset;
        border: 2px solid var(--globalwhite);
        border-radius: 15px 15px 0px 0px;
        margin-bottom: 20px;
        padding-left: 0px;
        width: 500px;

    }

    .maincours_element h3 {
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .maincours_element p {
        padding-left: 15px;
        padding-bottom: 5px;
    }

    .add_shoppingcard {
        padding-left: 15px;
        padding-bottom: 5px;
    }

}

@media (max-width: 550px) {
    .maincours_img_container img {
        width: 400px;
    }

    .maincours_element {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .maincours_img_container img {
        width: 300px;
    }

    .maincours_element {
        width: 300px;
    }
}

@media (min-width:1301px) {
    dialog {
        display: none;
    }
}