
nav{
    background-color: var(--globalorange);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainlogo{
    width: 100px;
    height: 50px;
}
.page_content{
    display: flex;
}
.aot_and_main_courses{
    width: calc(100%-300px)
}
main{
    background-color: var(--globalgray) ;
}
.aot{
    background-image:url(./assets/imiges/header_foto.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.noodle_bowl{
    display: flex;
    justify-content: center;
    margin-top: -80px;
}
.noodle_bowl img{
     height: 200px;
     background-color: var(--globalwhite);
     padding: 10px;
     border-radius: 50%;
}
.all_main_courses h2{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 20px;
}
.maincours_element{
    border: 5px solid var(--globalorange);
    border-radius: 15px 0px 0px 15px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_courses img{
    height: 200px;
    width: 700px;
    object-fit: cover;
}

/* shopping cart */
.all_shopping_cart{
    background-color: var(--globalwhite);
    width: 300px;
}
.shopping_cart_content{
    position: sticky;
    top: 10px;
}
.shopping_cart_content h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.shopping_cart_amaount{
    display: flex;
    justify-content: center;
}