:root{
    --globalorange: rgb(255, 166, 0);
    --globalgray: rgb(205, 202, 202);
    --globalwhite:#efefef;
    --darkgray:rgb(102, 101, 101);
    --darkorange:rgb(118, 80, 9);


}

*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.externaldistance{
    padding-right: 120px;
    padding-left: 120px;
}
