
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.externaldistance {
    padding-right: 120px;
    padding-left: 120px;
}

/* contentlimitation */
.contentlimitation {
    max-width: 1920px;
    margin: 0 auto;
}


@media (max-width: 850px) {

    .externaldistance {
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media (max-width: 600px) {

    .externaldistance {
        padding-right: 40px;
        padding-left: 40px;
    }

}